section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 90%;
  }
  mat-card {
    margin: 10px 0;
  }
  img{
    width:150px;
    height:150px;
  }
  .mat-icon{
    vertical-align: middle;
  }
  span{
    font-size: 15px;
  }
  h1{
    text-align: center;
    background-color: #653bb9;
    color: white;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    font-family:'blossom';
  }
  #newpost{
    text-align: end;
    padding: 10px;
  }